:root {
  --font-family: 'HelveticaNeueCyr', sans-serif;
  --main-color: #010101;
  --main-gray: #f2f2f2;
  --primary-color: #d2df3b;
  --blue-color: #3e2d8f;
  --link-color: #3b3187;
  --grey-color: #ebebeb;
  --base-border-radius: 5px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a8a8a8;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #a8a8a8;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #a8a8a8;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #a8a8a8;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: var(--main-color);
  min-width: 320px;
  font: 14px var(--font-family), sans-serif;
}

h1 {
  font-size: 40px;
}

p {
  line-height: 20px;
  margin: 14px 0;
}

a {
  text-decoration: none;
  transition: 0.15s ease color, 0.15s ease opacity;
  color: var(--link-color);
}

a:hover {
  opacity: 0.8;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.fancybox-active {
  height: 100% !important;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
}

.header,
.footer {
  flex-shrink: 0;
}

.main {
  flex: 1;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  position: relative;
  padding-left: 25px;
}

.list li:not(:last-child) {
  margin-bottom: 10px;
}

.list li:before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--blue-color);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.btn {
  display: inline-block;
  outline: 0;
  background-color: var(--grey-color);
  border: none;
  border-radius: var(--base-border-radius);
  font-family: var(--font-family);
  padding: 17px;
  color: var(--main-color);
  font-size: 14px;
  transition: background-color 0.25s ease, color 0.25s ease, opacity 0.25s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: #dfdede;
}

.btn--primary {
  background-color: var(--primary-color);
}

.btn--primary:hover {
  background-color: #c2d01e;
}

.btn--link {
  background: none;
  color: var(--link-color);
}

.btn--link:hover {
  background: none;
}

textarea {
  resize: none;
}

textarea.form-control.floating-input__input {
  padding-top: 34px;
}

.form-control {
  -webkit-appearance: none;
  height: 60px;
  background: var(--main-gray);
  border: 1px solid var(--main-gray);
  border-radius: 5px;
  outline: 0;
  padding: 20px 25px 0;
  font: 500 14px/1 var(--font-family);
}

.form-control:focus {
  background: #fff;
}

.intl-tel-input {
width: 100%;
}

.intl-tel-input .selected-dial-code {
  display: none !important;
}

.intl-tel-input .selected-flag {
  display: flex !important;
  align-items: center;
  width: initial !important;
  padding-left: 25px !important;
}

.intl-tel-input + .floating-input__label {
  left: 55px;
}

.intl-tel-input .selected-flag .iti-flag {
  margin-right: 8px;
}

.intl-tel-input .selected-flag .iti-flag,
.intl-tel-input .selected-flag .iti-arrow {
  position: static;
}

.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag,
.intl-tel-input.separate-dial-code .selected-flag {
  background: none;
  outline: 0;
}

.intl-tel-input .form-control.phone-input.floating-input__input {
  padding-left: 79px !important;
}

.form-control.error,
.checkbox input.error + .checkbox__control {
  border-color: red;
  box-shadow: 0 0 0 1px red;
}

.checkbox {
  display: inline-flex;
  align-items: flex-start;
}

.checkbox input:checked + .checkbox__control::before {
  opacity: 1;
  transform: translateY(0);
}

.checkbox input:checked + .checkbox__control {
  background-color: var(--primary-color);
}

.checkbox__control {
  width: 26px;
  height: 26px;
  display: flex;
  flex-shrink: 0;
  background: var(--main-gray);
  border-radius: 3px;
  position: relative;
  transition: 0.2s background-color ease;
  cursor: pointer;
}

.checkbox__control:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  transform: translateY(-4px);
  transition: 0.14s;
  opacity: 0;
  background: url(../img/check.png) no-repeat center;
}

.checkbox__control:hover {
  background-color: #eee;
}

.checkbox__label {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  padding-top: 4px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  overflow: hidden;
}

.checkbox-group__item:not(:last-child) {
  border-right: 1px solid #d7d7d7;
}

.checkbox-group__item {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  flex: 1;
  cursor: pointer;
  transition: 0.2s ease;
}

.checkbox-group__item .checkbox__label {
  cursor: pointer;
  font-size: 14px !important;
  padding-top: 5px;
}

.floating-input {
  position: relative;
  display: inline-block;
  cursor: text;
}

.floating-input.focus .floating-input__label {
  transform: translate(0, -10px);
  font-size: 12px;
}

.floating-input.focus .floating-input__input {
  padding-bottom: 0px;
}

.floating-input .form-control::placeholder {
  opacity: 0;
}

.floating-input.focus .floating-input__input::placeholder {
  opacity: 0.5;
}

.floating-input__label {
  display: block;
  /* background: var(--main-gray); */
  position: absolute;
  height: 15px;
  line-height: 1;
  top: 22px;
  left: 1px;
  right: 1px;
  padding: 0 25px;
  white-space: nowrap;
  z-index: 1;
  font-size: 14px;
  color: #a19cab;
  transition: transform 0.25s ease, font-size 0.25s ease, -webkit-transform 0.25s ease;
}

.form__item:not(:last-of-type) {
  margin-bottom: 10px;
}

/* ----------- Services ---------- */
.services__title {
  font-size: 25px;
  margin: 0 0 25px;
}

.services__img {
  text-align: right;
  padding-right: 100px;
}

.services__form {
  padding-left: 0;
}

.services__form .form-control,
.services__form .floating-input {
  width: 100% !important;
}

.services__form textarea {
  height: 140px;
}

.services__form .floating-input__label {
  color: var(--main-color);
}

.services__form .floating-input.focus .floating-input__label {
  color: #a19cab;
}

.services__form .btn {
  width: 200px;
}

.services__agree {
  margin-top: 25px;
}

.services__agree .checkbox__label {
  font-size: 12px;
  padding-top: 6px;
}

/* ----------- Header ---------- */

.header {
  padding: 23px 0 35px;
}

.header .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__logo,
.header__contacts,
.header__order {
  margin-right: 30px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
}

.header-contacts a {
  color: var(--main-color);
}

.header-contacts__tel {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.header-contacts__email {
  font-size: 13px;
}

.lang-select {
  display: flex;
  align-items: center;
  transition: 0.3s ease opacity;
  cursor: pointer;
  height: 22px;
}

.lang-select span {
  line-height: 22px;
}

.lang-select:hover {
  opacity: 0.5;
}

.lang-select img {
  display: block;
  margin-right: 10px;
}

/* ----------- Navigation ---------- */
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation li:not(:last-child) {
  margin-right: 32px;
}

.navigation a {
  font-size: 14px;
  font-weight: bold;
  color: var(--main-color);
  transition: 0.3s ease opacity;
}

.navigation a:hover {
  opacity: 0.5;
}

/* ----------- Hero Banner ---------- */
.hero-banner {
  padding: 50px 100px;
  background-color: var(--grey-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.hero-banner__descr {
  flex: 1;
}

.hero-banner__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.hero-banner__order {
  max-width: 170px;
  width: 100%;
}

.hero-banner__img {
  max-width: 370px;
  width: 100%;
  text-align: center;
}

.hero-banner__img img {
  max-width: 230px;
  height: auto;
  display: block;
  margin: auto;
}

/* ----------- Product Card ---------- */
.product-cards {
  margin-top: -40px;
}

.product-cards .product-card {
  margin-top: 40px;
}

.product-card__img {
  max-width: 130px;
  margin: 0 auto 35px;
}

.product-card__descr {
  margin-bottom: 20px;
}

.product-card__title {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.product-card__list {
  font-size: 14px;
}

.product-card__meta {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card__price {
  font-size: 20px;
  color: #3e2d8f;
  font-weight: bold;
  margin-bottom: 25px;
}

.product-card__order {
  max-width: 170px;
  margin: auto;
  width: 100%;
  background-color: #ded9f3;
}

.product-card__order:hover {
  background-color: #d1cbef;
}

/* ----------- Section ---------- */
.section {
  padding: 35px 0;
}

.section__header {
  text-align: center;
  margin-bottom: 50px;
}

.section__title {
  margin: 0;
  line-height: 1;
  font-size: 40px;
  font-weight: bold;
}

.section--text {
  padding: 60px;
  background-color: var(--main-gray);
  font-size: 16px;
  line-height: 22px;
}

.section--text h2 {
  margin: 0 0 40px;
}

.child-companies .child-company {
  margin-top: 30px;
}

.child-company {
  text-align: center;
}

.child-company__img {
  margin-bottom: 45px;
}

.child-company__img img {
  max-width: 230px;
  width: 100%;
  height: auto;
}

.child-company__name {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 25px;
  min-height: 50px;
}

.child-company__descr {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

/* ----------- News Article ---------- */
.article__header {
  text-align: center;
  margin-bottom: 40px;
}

.article__title {
  margin: 0 0 30px;
}

.article__date {
  color: #8e8e8e;
  font-size: 16px;
  line-height: 1;
}

/* ----------- News Card ---------- */
.news-cards {
  margin-top: -30px;
}

.news-cards .news-card {
  margin-top: 30px;
}

.news-card {
  background-color: var(--main-gray);
}

.news-card__img {
  height: 170px;
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.news-card__descr {
  padding: 15px 10px 20px 30px;
}

.news-card__date {
  font-size: 12px;
  color: #8e8e8e;
  display: block;
  margin-bottom: 10px;
}

.news-card__title {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 30px;
  color: var(--main-color);
}

.news-card__title:hover {
  color: var(--link-color);
}

.main-slider {
  background: url('../img/slider-bg.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
  height: 445px;
  overflow: hidden;
}

.main-slider::before {
  content: '';
  position: absolute;
  background-color: #000;
  opacity: 0.4;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.main-slider__item {
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  height: 445px;
}

.slick-dots li {
  margin: 0;
}

.main-slider .slick-dots,
.hero-slider .slick-dots {
  bottom: 8px;
}

.hero-slider__item a {
  display: block;
}

.slick-dots li button:before {
  color: #ffffff;
  opacity: 1;
  font-size: 8px;
}

.slick-dots li button {
  transition: 0.2s ease opacity;
}

.slick-dots li button:hover {
  opacity: 0.7;
}

.slick-dots li.slick-active button:before {
  color: var(--primary-color);
  opacity: 1;
}

.slick-slide {
  outline: 0;
}

.slick-slide a {
  outline: 0;
}

.main-slider__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 2;
}

.main-slider__inner span {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  display: block;
  text-align: center;
  height: 150px;
  max-width: 340px;
  overflow: hidden;
  text-transform: uppercase;
}

.main-slider__inner .btn {
  min-width: 170px;
}

.footer {
  background-color: #363636;
  padding: 50px 0 30px;
  color: #fff;
}

.inner-page {
  padding-bottom: 50px;
}

.inner-page--no-padding {
  padding-bottom: 0 !important;
}

.inner-page__breadcrumbs {
  margin-bottom: 20px;
}

.inner-page__title {
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
  margin: 0 0 40px;
}

/* ----------- Breadcrumbs ---------- */
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #979797;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li:after {
  content: '–';
  display: inline-block;
  margin: 0 4px;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.breadcrumbs a {
  color: #979797;
}

.breadcrumbs a:hover {
  color: var(--main-color);
}

.work-steps {
  display: flex;
  background-color: #f5f4f7;
  border-radius: 20px;
  margin: 65px 0;
}

.work-steps__item {
  flex: 25%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.work-steps__item span {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 70%;
}

.work-steps__item:last-child::after {
  display: none;
}

.work-steps__item:after {
  content: '';
  position: absolute;
  width: 45px;
  height: 120px;
  background: url('../img/arrow-right.jpg') no-repeat center;
  right: -22px;
  top: 0;
}

/* ----------- Order form ---------- */
.order-form__item,
.order-form .form-control,
.order-form .floating-input,
.order-form .btn {
  width: 100%;
}

.order-form .checkbox__label {
  color: #a19cab;
  font-size: 12px;
}

.order-section__title {
  text-align: center;
  font-size: 40px;
  margin: 0 0 45px;
}

.order-section__block {
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  max-width: 770px;
  margin: auto;
  padding: 65px 0;
}

.order-section__block .order-form {
  max-width: 430px;
  margin: auto;
}

/* ----------- Product ---------- */
.product {
  margin-bottom: 45px;
}

.product__title {
  font-size: 30px;
  margin: 0 0 30px;
}

.product__img img {
  max-width: 300px;
  height: auto;
}

.product__price {
  color: var(--link-color);
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
}

.product__files {
  margin: 30px 0;
}

.product__files .file {
  margin-bottom: 15px;
}

.product__actions .btn:not(:last-child) {
  margin-right: 10px;
}

.product__order,
.product__sample {
  max-width: 170px;
  width: 100%;
}

.product__order {
  background-color: #ded9f3;
}

.product__order:hover {
  background-color: #d1cbef;
}

.product__sample {
  background-color: transparent;
  border: 1px solid #b6addc;
  color: #b6addc;
}

.product__sample.active,
.product__sample:hover {
  background-color: #f3f1fb;
}

/* ----------- Descr Box ---------- */

.descr-box {
  padding: 35px 70px;
  border-radius: 5px;
  background-color: #f5f4f7;
}

.descr-box:not(:last-child) {
  margin-bottom: 30px;
}

.descr-box__title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.descr-box__text {
  margin: 0;
}

/* ----------- File ---------- */

.file {
  position: relative;
  display: flex;
  align-items: center;
}

.file:hover {
  opacity: 1;
}

.file:hover .file__name {
  color: var(--link-color);
}

.file__name {
  display: block;
  margin-bottom: 6px;
  transition: 0.15s ease color;
  color: var(--main-color);
}

.file__meta {
  color: #979797;
  font-size: 14px;
  display: block;
}

.file:before {
  content: '';
  width: 31px;
  height: 40px;
  margin-right: 15px;
  display: block;
  background: url('../img/file-icon.png') no-repeat center;
}

/* ----------- Services Hero ---------- */
.services-hero__title {
  font-size: 40px;
  margin: 0 0 35px;
}

.services-hero__descr {
  font-size: 20px;
  margin: 0 0 40px;
}

.services-hero .btn {
  max-width: 170px;
  width: 100%;
}

/* ----------- Sertificates ---------- */

.sertificates {
  margin-top: -30px;
}

.sertificate {
  margin-top: 30px;
}

.sertificate img {
  width: 100%;
  height: auto;
}

/* ----------- Contacts ---------- */
.contacts {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts dl {
  margin: 30px 0 0;
}

.contacts dl:not(:last-child) {
  margin-right: 30px;
}

.contacts dt {
  font-size: 16px;
  margin-bottom: 10px;
}

.contacts dt:after {
  content: ':';
}

.contacts dd {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

/* ----------- Thanks ---------- */
.thanks-page .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.thanks {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.thanks__title {
  margin: 0 0 40px;
}

.thanks__text {
  font-size: 20px;
  margin: 0;
}

/* ----------- Social Plate ---------- */
.social-plate {
  background-color: var(--main-gray);
  position: relative;
  padding: 40px 70px;
  margin-top: 100px;
}

.social-plate__title {
  font-size: 24px;
  margin: 0 0 20px;
}

.social-plate__descr {
  font-size: 16px;
  margin: 0 0 25px;
}

.social-plate__phone {
  position: absolute;
  right: 170px;
  bottom: 0;
  display: block;
}

.social-plate__icons {
  display: flex;
  align-items: center;
}

.social-plate__icons .social-icon:not(:last-child) {
  margin-right: 20px;
}

.social-icon {
  display: inline-block;
}

/* ----------- Not Found ---------- */
.not-found {
  text-align: center;
  padding: 90px 0 50px;
}

.not-found__title {
  margin: 0 0 40px;
}

.not-found__descr {
  font-size: 20px;
  margin: 0;
}

.not-found__header:after {
  content: '';
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 25px 0;
  background: url(../img/arrow-down.png);
}

.not-found__maybe {
  font-size: 18px;
  font-weight: normal;
  color: #6a3df7;
  margin: 0 0 20px;
}

.not-found__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.not-found__links li:not(:last-child) {
  margin-bottom: 10px;
}

.not-found__links a {
  font-size: 16px;
  color: #3b3187;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--primary-color);
  transition: 0.15s border ease;
}

.not-found__links a:hover {
  border-color: transparent;
  opacity: 1;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
  margin-top: -40px;
}

.footer__links .footer-links {
  flex: 1;
  margin-top: 40px;
}

.footer__links .footer-links:first-child {
  max-width: 670px;
}

.footer__links .footer-links:first-child .footer-links__list {
  columns: 2;
}

.footer__links .footer-links:nth-child(2) {
  max-width: 300px;
}

.footer__links .footer-links:last-child {
  max-width: 200px;
}

.footer__meta {
  font-size: 10px;
  border-top: 1px solid #707070;
  padding-top: 30px;
  display: flex;
}

.footer__mobile,
.footer__mobile a,
.footer__meta,
.footer__meta a {
  color: #989898;
}

.footer__mobile .footer-info {
  padding-bottom: 20px;
  border-bottom: 1px solid #707070;
}

.footer__meta a:hover {
  color: #fff;
  opacity: 1;
}

.footer-meta {
  max-width: 500px;
  margin-right: 30px;
}

.footer-meta__text {
  line-height: 20px;
  margin: 0 0 40px;
}

.footer-meta__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.footer-meta__list ul:not(:last-child) {
  margin-right: 70px;
}

.footer-meta__list li:not(:last-child) {
  margin-bottom: 8px;
}

.footer-meta .footer-info {
  text-align: right;
}

.footer__mobile {
  text-align: center;
  display: none;
}

.footer__mobile > * {
  margin-bottom: 20px;
  display: block;
}

.footer__mobile .logo {
  margin: 0 auto 20px;
}

.footer-info {
  flex-shrink: 0;
}

.footer-info__phone {
  color: #ffffff !important;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 15px;
  display: inline-block;
}

.footer-info__socials {
  margin-bottom: 30px;
}

.footer-socials .social-icon {
  margin-left: 10px;
}

.footer-links__title {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer-links__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links__list li:not(:last-child) {
  margin-bottom: 20px;
}

.footer-links__list a {
  color: #fff;
  line-height: 1;
}

.site-meta {
  max-width: 800px;
  padding: 40px 45px !important;
}

.site-meta ul {
  margin: 5px 0;
  padding: 0;
  list-style: inside;
}

.order-popup {
  max-width: 770px;
  width: 100%;
}

.order-popup .order-form {
  max-width: 430px;
  margin: auto;
}

.order-popup__header {
  margin-bottom: 50px;
  text-align: center;
}

.order-popup__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}

.order-popup__descr {
  font-size: 18px;
}

.fancybox-bg {
  background: #000000;
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.7;
}

.fancybox-content {
  border-radius: 5px;
  padding: 60px 70px;
}

.fancybox-close-small:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 20px;
  height: 20px;
  background: url('../img/close.png') no-repeat;
}

.fancybox-close-small svg {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  top: -200%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 50px 10px;
  background-color: rgb(58, 63, 82);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  color: #ffffff;
}

.mobile-menu.active {
  top: 0;
}

.mobile-menu a {
  color: #fff !important;
}

.mobile-menu > * {
  margin-bottom: 30px;
}

.mobile-menu .logo {
  display: inline-block;
  margin-right: 0;
}

.mobile-menu .navigation {
  display: flex;
  flex-direction: column;
}

.mobile-menu .navigation a {
  font-size: 18px;
}

.mobile-menu .navigation li:not(:last-child) {
  margin-right: 0;
  margin-bottom: 12px;
}

.mobile-btn {
  display: none;
  width: 26px;
  height: 22px;
  z-index: 1;
  cursor: pointer;
  position: relative;
  z-index: 300;
}

.mobile-btn.active::before,
.mobile-btn.active::after {
  background-color: #fff;
}

.mobile-btn.active .mobile-btn-el {
  opacity: 0;
}

.mobile-btn.active::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-btn.active::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-btn::before {
  content: '';
  position: absolute;
  border-radius: 4px;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.mobile-btn::after {
  content: '';
  position: absolute;
  border-radius: 4px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.mobile-btn .mobile-btn-el {
  position: absolute;
  border-radius: 4px;
  top: 9px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.no-scroll {
  overflow: hidden;
}

.video {  
	margin-bottom: 20px;
}
.video-wrp {
	position: relative;
	padding-top: 56.25%;
}
.video-wrp iframe {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	border: none;
}

/* ----------- Media queries ---------- */

@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .hero-banner {
    padding: 50px;
  }

  .hero-banner__img {
    max-width: 230px;
  }

  .social-plate {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 50px;
  }

  .social-plate__phone {
    position: absolute;
    right: 50px;
    bottom: 0;
  }

  .footer__links .footer-links:first-child {
    flex: 100%;
    max-width: 100%;
  }

  .services-hero__title {
    font-size: 32px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .product-card__title,
  .services-hero__descr {
    text-align: center;
  }

  .product-cards .col-sm-6 {
    width: 50%;
  }

  .product-card__title,
  .product-card__price {
    font-size: 16px;
  }

  .product-card__list {
    font-size: 12px;
  }

  .social-plate__phone {
    margin: 40px auto 0;
  }

  .work-steps {
    flex-direction: column;
    background: none;
    align-items: flex-start;
    position: relative;
    padding-left: 20px;
    margin: 0px 0 40px 5px;
  }

  .work-steps:before {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    bottom: 20px;
    width: 2px;
    background-color: var(--main-color);
  }

  .work-steps__item {
    padding: 10px 0;
    flex: 100%;
    height: initial;
    width: 100%;
    justify-content: flex-start;
    position: relative;
    font-size: 16px;
  }

  .work-steps__item:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: -23px;
    top: 15px;
    background-color: var(--main-color);
  }

  .work-steps__item span {
    width: 100%;
    text-align: left;
  }

  .work-steps__item:after {
    display: none;
  }

  .mobile-btn {
    display: block;
  }

  .logo {
    width: 120px;
  }

  .mobile-menu {
    display: block;
  }

  .header {
    position: relative;
  }

  .header__left,
  .header__right {
    flex: 1;
  }

  .header__right {
    justify-content: flex-end;
  }

  .header__right .lang-select {
    margin-right: 25px;
  }

  .header__nav,
  .header__contacts,
  .header__order {
    display: none;
  }

  .footer__links,
  .footer__meta {
    display: none;
  }

  .footer__mobile {
    display: block;
  }

  .hero-banner {
    flex-direction: column;
    text-align: center;
  }

  .hero-banner__descr {
    margin-bottom: 50px;
  }

  .child-companies .child-company {
    margin-bottom: 40px;
  }

  .child-company__name {
    min-height: initial;
  }

  .contacts dl {
    flex: 50%;
  }

  .contacts dl:not(:last-child) {
    margin-right: 0;
  }

  .map {
    margin: 0 -15px;
  }

  .inner-page--contacts {
    padding-bottom: 0;
  }

  .social-plate {
    padding: 50px 50px 0;
    text-align: center;
    margin-top: 40px;
  }

  .social-plate__icons {
    justify-content: center;
  }

  .social-plate__phone {
    position: static;
    margin-top: 40px;
  }

  .fancybox-content {
    padding: 50px 30px;
  }

  .main-slider__inner span {
    font-size: 20px;
  }

  .main-slider,
  .main-slider__item {
    height: 350px;
  }

  .services__img {
    text-align: center;
  }

  .services__img {
    margin-bottom: 30px;
    padding-right: 15px;
  }

  .services__form .btn {
    width: 100%;
  }

  .inner-page {
    padding-bottom: 30px;
  }

  .product__img {
    max-width: 480px;
    margin: 0 auto 40px;
    display: block;
  }

  .product__title,
  .product__price,
  .product__actions {
    text-align: center;
  }

  .product__files {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  h1,
  .order-section__title,
  .section__title {
    font-size: 32px;
  }

  .order-section__block {
    padding: 0;
    border: none;
  }

  .main-slider,
  .hero-slider {
    margin-left: -15px;
    margin-right: -15px;
  }

  .product__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 200px; */
    margin: auto;
  }

  .product__actions .btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .product__actions .btn {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .descr-box,
  .section--text {
    margin-left: -15px;
    margin-right: -15px;
    padding: 50px 30px;
  }

  .logo {
    width: 100px;
  }

  .hero-banner {
    padding: 50px 30px;
    margin: 0 -15px;
  }

  .hero-banner__title {
    font-size: 28px;
  }

  .contacts dl {
    flex: 100%;
    justify-content: center;
    text-align: center;
  }
}
